.card {
  display: block;

  .card-img-wrapper {
    @include breakpoint($desktop-small) {
      width: 100%;
      padding-bottom: 84%;
      background: pink;
      position: relative;
    }
  }

  .card-img {
    height: 275px;
    width: 100%;
    object-fit: cover;

    @include breakpoint($desktop-small) {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    @include breakpoint($desktop-large) {
      height: 380px;
    }
  }

  .card-text {
    height: 95px;
    width: 100%;
    background: $color--white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -$spacing--xxs;

    @include breakpoint($desktop-small) {
      height: 105px;
    }

    @include breakpoint($desktop-large) {
      height: 140px;
    }
  }

  .card-title {
    margin-bottom: $spacing--xxs;
  }
}