.news-wrapper {
  padding: $spacing--m 0 $spacing--xl;

  @include breakpoint($desktop-small) {
    padding: $spacing--m $spacing--m $spacing--xl;
    margin-bottom: $spacing--m;
  }

  .news-date {
    display: block;
    margin-bottom: $spacing--xxs;
  }

  .news-link {
    margin-top: 15px;
    display: block;
    text-decoration: underline;
  }

  .news-title {
    color: $color--black;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: $spacing--s;
    display: block;
  }

  p {
    font-family: $font-family--roboto;
    font-weight: 400;
    color: $color--black;
    line-height: 1.7;
    letter-spacing: 0.02em;
    font-size: 0.875rem; /* 14px */

    @include breakpoint($desktop-large) {
      font-size: 1.625rem; /* 26px */
    }
  }

  a {
    color: $color--black;
  }
}

.news-date {
  margin-bottom: -3px;

  @include breakpoint($desktop-small) {
    margin-bottom: 2px;
  }
}

.news-date,
.news-title {
  display: block;
}

.news-list-item {
  margin-bottom: $spacing--l;

  @include breakpoint($desktop-small) {
    margin-bottom: 35px;
  }

  @include breakpoint($desktop-large) {
    margin-bottom: 40px;
  }
}
