.team-member {
  .team {
    padding: 30px $spacing--l;
    background: $color--white;

    @include breakpoint($desktop-small) {
      padding: 100;
      display: flex;
    }

    @include breakpoint($desktop-small) {
      padding: 245px;
    }
  }

  .team-member-img {
    height: 325px;
    margin-bottom: 40px;
    object-fit: cover;

    @include breakpoint($desktop-small) {
      order: 2;
    }
  }

  .title {
    margin-top: 3px;
  }

  .bio {
    @include breakpoint($desktop-small) {
      order: 1;
    }
  }
}