<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
{% include favicon.html %}
</head>

<body id='body'>

  <!-- Navigation -->
  <nav class='nav {{page.nav-class}}'>
    <a href='{{ site.baseurl }}/'>
      <img class='logo' src='{{ site.baseurl }}/images/logo.svg' />
    </a>
    <div class='hamburger' id='nav-hamburger'>
      <span class='hamburger-line'></span>
      <span class='hamburger-line'></span>
      <span class='hamburger-line'></span>
    </div>
    <ul class='nav-items' id='nav-items'>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#mission">Mission</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#team">Team</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#news">News</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#links">Links</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#faq">FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/#contact">Contact</a></li>
    </ul>
  </nav>

  {{ content }}

  <footer class='footer'>
    <p class='text-xxs footer-text'>
      <span class='line'>&copy; 2018, The C Plus Plus Alliance, Inc.</span>
      <span class='line'>Contact us at: <a href='mailto:info@cppalliance.com'>info@cppalliance.com</a></span>
    </p>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{{ site.baseurl }}/js/main.js'></script>

</body>
</html>
