// General
html {
  font-size: $font-size--primary;
}

body {
  background: $color--white;
  color: $color--black;
  font-family: $font-family--roboto;
  font-size: $font-size--primary;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Base Text Styles

.text-xxl { /* hero main header */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--gold;
  line-height: 1;
  font-size: 1.875rem /* 30px */

  @include breakpoint($desktop-small) {
    font-size: 5rem; /* 80px */
  }

  @include breakpoint($desktop-large) {
    font-size: 7.5rem; /* 120px */
  }
}

.text-xl { /* hero subheader, section header  */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--black;
  line-height: 1;
  font-size: 1.875rem /* 30px */

  @include breakpoint($desktop-small) {
    font-size: 2.5rem /* 40px */
  }

  @include breakpoint($desktop-large) {
    font-size: 3.75rem; /* 60px */
  }
}

.text-l { /* link lists */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--black;
  line-height: 1.33;
  font-size: 1.25rem /* 20px */

  @include breakpoint($desktop-large) {
    font-size: 2.063rem; /* 33px */
  }
}

.text-m { /* section subheader */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--black;
  line-height: 1.2;
  font-size: 1.25rem; /* 20px */

  @include breakpoint($desktop-large) {
    font-size: 1.875rem; /* 30px */
  }
}

.text-s { /* dates */
  font-family: $font-family--roboto;
  font-weight: 400;
  color: $color--gold;
  line-height: 1.7;
  font-size: 0.875rem; /* 14px */

  @include breakpoint($desktop-large) {
    font-size: 1.625rem; /* 26px */
  }
}

.text-xs { /* team member titles */
  font-family: $font-family--roboto;
  font-weight: 400;
  color: $color--gold;
  line-height: 1;
  font-size: 0.875rem; /* 14px */

  @include breakpoint($desktop-large) {
    font-size: 1.5rem; /* 24px */
  }
}

.text-xxs { /* paragraphs */
  font-family: $font-family--roboto;
  font-weight: 400;
  color: $color--black;
  line-height: 1.5;
  font-size: 0.875rem; /* 14px */

  @include breakpoint($desktop-small) {
    font-size: 0.75rem; /* 12px */
  }

  @include breakpoint($desktop-small) {
    font-size: 1rem; /* 16px */
  }
}


// Specialty Text Styles

.header-shadow { /* faded section header */
  font-family: $font-family--roboto;
  font-weight: 700;
  color: $color--slate;
  line-height: 1;
  font-size: 3.625rem; /* 58px */

  &.dark {
    color: $color--gray-dark;
  }

  @include breakpoint($desktop-small) {
    font-size: 5.813rem; /* 93px */
  }

  @include breakpoint($desktop-large) {
    font-size: 8.75rem; /* 140px */
  }
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}
